@import url('https://fonts.googleapis.com/css?family=Tangerine');

/*------COLORS-------*/

$greyLight: #EEEEEE;
$white: #FAFAFA;
$grey: #424242;
$brown: #3E2723;

/*--------FONTS-------*/

$tangerine: 'Tangerine',
cursive;